<h1>Hi this is my First Angular project</h1>
<p>For this we are starting with ng</p>
<p>ng serve is used to host the course </p>
<!--<p>npm install -g @angular/cli@latest</p>-->
<!--<p>npm link @angular/cli</p>-->
<p>ng --version is used to know the version of the angular</p>
<p>ng new AngularBasics is used to install the angular in new folder</p>
<p>this is put dynamically ({{title}}) this is edited title from app.components.ts</p>
<p>({{message}}) this property is added in app.components.ts</p>
